<div>
    <label for="@Id" class="block text-xs font-medium text-gray-700"> @Id </label>


    <input type="@Type"
           id="@Id"
           placeholder="@Placeholder"
           class="mt-1 w-full rounded-md border-gray-200 shadow-sm sm:text-sm"
           value="@Value" />
</div>





@code {

    [EditorRequired]
    [Parameter]
    public string Id { get; set; }

    // [EditorRequired]
    // [Parameter]
    // public string Label { get; set; }

    [Parameter]
    public string Placeholder { get; set; } = "";


    [EditorRequired]
    [Parameter]
    public string Value { get; set; }

    // Need to fix types
    // [EditorRequired]
    // [Parameter]
    // public string Type { get; set; }

    [Parameter]
    public InputType Type { get; set; } = InputType.text;

    public enum InputType
    {
        text,
        date,
        color,
        email,
        file
    }

}
